{{ calendars_domain }} {
	root * /var/www/html/calendars

	file_server

	encode zstd gzip

	header {
        Content-Type "text/calendar; charset=utf-8"
        Access-Control-Allow-Origin *
    }
}

{{ rsshub_domain }} {
	reverse_proxy rsshub-app:1200
}
{{ gatus_domain }} {
	reverse_proxy gatus:8080
}
{{ letterboxd_domain }} {
	reverse_proxy letterboxd-app:5000
}