[Definition]
# Looking for a invalid login attempts
failregex = ^.*\[vaultwarden::api::identity\]\[ERROR\] Invalid password.*Remote: <HOST>.*$
            ^.*\[error\]\[vaultwarden::api::identity\] Invalid password.*Remote: <HOST>.*$
ignoreregex =